body{
    background: linear-gradient(olivedrab , teal);
    min-height: 100vh;
}
.container{
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{

    width: 370px;
    margin: auto;
    border-radius: 15px;
    background-color: lightcyan;
    padding: 15px 15px 20px 20px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
}

#userInput{
    box-sizing: border-box;
    width: 100%;
    padding: 40px 5px;
    text-align: right;
    outline: none;
    border: none;
    background: whitesmoke;
}

.btn{
    width: 24%;
    height: 45px;
    border-radius: 15px;
    border: none;
    outline: none;
    margin-top: 3px;
    background: lightblue;
}
.btnEqual{
    width: 99.2%;
    height: 45px;
    border-radius: 15px;
    border: none;
    outline: none;
    margin-top: 3px;
    background: lightblue;
}

.btn:hover , .btnEqual:hover  {
    background-color: lightsteelblue;
}

footer{
    background: lightblue;
    position: absolute;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    margin-top: auto;
}